/* start variabled */
:root{
    --main-color: #10cab7;
    --second-color: #2c4755;
    --padding-section: 60px;
    --background-sections: #F6F5F5;
}
/* start global ruls */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
/* end global ruls */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right:auto ;
}
/* mobile */
@media (max-width: 480px){
    .container{
        width: 70%;
    }
}
/* small */
@media (max-width: 768px){
    .container{
        width: 70%;
    }
}
/* medium */
@media (max-width: 929px){
    .container{
        width: 70%;
    }
}
/* large */
@media (max-width: 1200px){
    .container{
        width: 70%;
    }
}
@media (max-width: 1500px){
    .container{
        width: 70%;
    }
}
/* spesial services */
.spesial-heading{
    color: #ebeced;
    font-weight: 800;
    text-align: center;
    margin: 0;
    font-size: 100px;
    letter-spacing: -3px;
}
.spesial-heading + p{
    font-size: -28px;
    text-align: center;
    color: #797979;
    margin: -30px 0 0;
}
@media(max-width : 767px){
    .spesial-heading{
        font-size: 60px;
    }
    .spesial-heading + p {
        margin-top: -20px;
    }
}
/* start header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 70px;
}
.header .links{
    position: relative;
}
.header .links .icon{
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon span{
    background: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 50%;
    transition: 1s;
}
.header .links .icon span:last-child{
    height: 4px;
    width: 100%;
}
.header .links ul{
    list-style: none;
    text-decoration: none;
    background: #F5F7F8;
    position: absolute;
    padding: 0;
    right: 1px;
    min-width: 200px;
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-color: transparent transparent #F5F7F8 transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a{
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links:hover ul{
    display: block;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: #ddd 1px solid;
}
/* end header */
/*  <!-- start landing section --> */
.landing{
    background-image: url(../images/mountains.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.landing .intro-text p{
    font-size: 18px;
    line-height: 2;
}
/*  <!-- end landing section --> */
/* start features */
.features{
    background: #f6f6f6;
    padding-bottom: var(--padding-section);
    padding-top: var(--padding-section);
}
.features .container{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
   grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
    font-size: 50px;
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}
/* end features */
/* start service */
.servisec{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.servisec .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.servisec .services-content .serv{
    display: flex;
    margin-bottom: 30px;
}
@media (max-width: 799px){
    .servisec .services-content .serv{
        flex-direction: column;
        text-align: center;
    }
}
.servisec .services-content .serv i{
    color: var(--main-color);
    flex-basis: 60px;
    width: 60px;
}
.servisec .services-content .serv .text{
    flex: 1;
}
.servisec .services-content .serv h3{
    margin: 0 0 20px;
}
.servisec .services-content .serv p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.servisec .services-content .image{
    text-align: center;
    position: relative;
}
.servisec .services-content .image::before{
    content: "";
    background-color: var(--second-color);
    width: 50px;
    height: calc(100% + 100px);
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}
.servisec .services-content .image img{
    width: 260px;
}
@media (max-width: 1208px){
    .image-col{
        display: none;
    }
}
/* end service */
/* start portfolio */
.portfolio{
    padding-top: var(--padding-section);
    background: #F6F5F5;
    padding-bottom: var(--padding-section);
}
.portfolio .portfoli-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
    margin-top: 80px;
}
.portfolio .portfoli-content .card{
    background: white;
    border-radius: 20px;

}
.portfolio .portfoli-content img{
    max-width: 100%;
    padding-top:7px ;
}
.portfolio .portfoli-content .card:not(.info){
    text-align: center;
}
.portfolio .portfoli-content .card .info{
    padding: 20px;
}
.portfolio .portfoli-content .card .info h3{
    margin: 0;
}
.portfolio .portfoli-content .card .info p{
    margin-bottom: 0;
    color: #777;
    line-height: 1.6;
    text-align: start;
}
@media (max-width: 792px){
    .portfolio .portfoli-content .card .info p{
        text-align: center;
    }
}
/* end portfolio */
/* start about */
.about{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
@media (max-width: 1114px) {
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .text{
        padding-top: 10px;
    }
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 300px;
}
@media (max-width: 1114px) {
    .about .about-content .image{
       margin: auto;
}
}
.about .about-content .image img{
    max-width: 100%;
    height: 300px;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background: #ebeced;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
    left: -30px;

}
.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 100%;
    right: -60px;
    top: -60px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;

}
@media (max-width: 1114px) {
    .about .about-content .image::after,
    .about .about-content .image::before{
        display: none;
    }
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 30px;
}
.about .about-content .text hr{
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .about-content .text p:last-of-type{
    color: #777;
}
/* end about */

/* start contact */
.contact{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background: var(--background-sections);
}
.contact .info{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    text-align: center;
}
.contact .info .lable{
    font-size: 30px;
    font-weight: 800;
    color: var(--second-color);
}
.contact .info .link{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 18px;
    flex-wrap: wrap;
}
.contact .info .social i{
    margin-left: 12px;
    color: var(--second-color);
}
@media (max-width: 661px){
    .contact .info .lable,
    .contact .info .link,
    .contact .info .social
    {
        font-size: 11px;
    }
}
/* end contact */
/* start footer */
.footer{
    background: var(--second-color);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* end footer */